body {
  img {
    width: 10%;
  }
  .game-board {
    display: flex;
    max-width: 640px;
    border: 3px solid green;
    margin: 0 auto;

    .column {
      flex: 1;
    }

    .row {
      height: 80px;
      border: 2px solid green;
      display: flex;
    }

    .dot{
      width: 100%;
      border-radius: 50%;
      background: red;
    }
  }

  h1 {
    color: red;
  }


}
