@keyframes fadeIn {
  from {opacity:  0;}
  to {opacity: 1;}
}

$border-color: #4b4b4b;
$height: 60px;

body {
  font-family: 'Oswald', sans-serif;
  color: $border-color;
  font-weight: 400;
  font-size: 22px;
  header {
    img {
      display: block;
      height: $height;
    }
  }

  main {
    width: calc((#{$height} * 8) + 6px);
    margin: 0 auto;
    .winner {
      padding: 20px;
      text-align: center;
      width: 100%;
      display: none;
    }
    .winner.active {
      display: block
    }
    .score.active {
      display: flex;
      justify-content: space-between;
      .turn{
        padding: 20px;
        display: flex;
        img {
          height: 30px;
          visibility: hidden;
        }
        img.active {
          visibility: visible;
          animation-name: fadeIn;
          animation-duration: 2s;
        }
      }
    }
    .score {
      display: none;
    }

    .game-board {
      border: 3px solid $border-color;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      height: calc(#{$height} * 8);
      .square {
        width: $height;
        border: 2px solid $border-color;
        box-sizing: border-box;
      }

      .disk{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation-name: fadeIn;
        animation-duration: 2s;
        transition: background-color 2000ms linear;
      } .red {
        background-color: crimson;
      } .black {
        background-color: $border-color;
      }
    }
    .button {
      margin: 20px auto;
      padding: 8px;
      display: block;
      // background-color: $border-color;
      border: 1px solid $border-color;
      color: crimson;
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      font-size: 18px;
      &:hover{
        padding: 9px;
      }
    }
  }
}
